/*body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%
}*/
.panels-sample-flickr-panels {
	color: white;
	background: #555;
}
.panels-sample-flickr-panels > * {
	width: 320px;
	box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
}
.panels-sample-flickr-item {
	position: relative;
	border-bottom: 1px solid #0E0E0E;
	padding: 12px 16px;
	background-color: #333333;
}

.panels-sample-flickr-item.onyx-selected {
	background-color: MidnightBlue;
}

.panels-sample-flickr-title {
	position: absolute;
	top: 40px;
	right: 0;
	left: 100px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.panels-sample-flickr-thumbnail {
	width: 75px;
	height: 75px;
}
.panels-sample-flickr-more-button {
	color: white; margin: 10px;
}
.panels-sample-flickr-more-spinner {
	vertical-align: middle;
	margin: -4px 0 0 4px;
}
.panels-sample-flickr-center {
	margin: auto;
}
.panels-sample-flickr-main {
	background-color: #333;
}
.panels-sample-flickr-image {
	box-sizing: border-box;
	max-height: 90%;
	max-width: 90%;
	border: solid 5px #CCC;
	box-shadow: 1px 1px 5px #999;
	width: auto;
	height: auto;
}

.panels-sample-flickr-image.wide {
	width: 100%;
}


@media all and (max-width: 800px) {
	.panels-sample-flickr-image.wide {
		width: auto;
	}
}

.panels-sample-flickr-image.tall {
	height: 100%;
}

/*Lunetube globals classes*/
.lunetube-center-vertical{
	position: absolute;
	top: 50%;
}



/************************************************************************************************/
				/*.   Para el PRE 3*/
/************************************************************************************************/
/*html.pixel-ratio-15 {
  font-size: 30px;
}
.pixel-ratio-15 .enyo-button-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.pixel-ratio-15 .enyo-input.enyo-tool-input {
  font-size: 0.8rem;
  margin: 0 0.1rem;
  border-width: 9px 9px 10.5px 9px; 
}

.pixel-ratio-15 .enyo-input.enyo-tool-input .enyo-input-input {
  font-size: 0.75rem;
  padding: 0.1rem 0 0.05rem 0;
}

.pixel-ratio-15 .enyo-button-down .enyo-button-icon {
  background-position: 0 -1.6rem;
}

.pixel-ratio-15 .enyo-search-input-search {
  height: 1rem;
  width: 1rem;
  margin: 0.1rem;
}*/