.comment{
	padding: 0;
	margin: 15px 0;
}
.comment > img{
	width: 20%;
	max-height: 50px;
	max-width: 50px;
	border-radius: 66px;
	-webkit-border-radius: 66px;
}
.comment > p{
	width: 75%;
	margin-left: 5%;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}