.comment{
	padding: 4px 4px 4px 4px;
	/*margin: 15px 0;*/
}
.comment-text > img{
	width: 20%;
	max-height: 50px;
	height: 50px;
	max-width: 50px;
	border-radius: 66px;
	-webkit-border-radius: 66px;
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
	vertical-align: middle;
}
.comment-user{
	/*font-size: 20px;*/
	font-size: 16px;
	font-weight: bolder;
	color: rgb(93, 93, 93);
	text-shadow: 1px 1px 1px #333;
	padding: 0;
	margin: 0 0 0 3px;
	vertical-align: middle;
}
.comment-text{
	/*width: 75%;*/
	/*margin-left: 5%;*/
	font-size: 13px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.mochi-button-base{
	margin: 0;
	font-size: 13px;
}
.mochi-button-decorator-left{
	padding: 0;
}
.mochi-button-decorator-right{
	padding: 0;	
}

#app_commentList_myComment{
	/*enyo-tool-decorator mochi-input-decorator mochi-input-animate mochi-focused*/
	 transform:translateZ(0) ;
}
.my-comment-box{
	margin: 4px;
	border-bottom: 1px solid rgb(211, 211, 211);
	padding-top: 4px;
	padding-bottom: 6px;
	font-size: 16px;
}