/*myapp.MainView*/
.panels-sample-sliding-panels > * {
	width: 320px;
	background-color: #EAEAEA;
	box-shadow: -4px 0 4px rgba(0,0,0,0.3);
}

.panels-sample-sliding-item {
	padding: 10px;
	border-bottom: 1px solid black;
}
.panels-main-menu{
	margin: 0;
	padding: 0;
	float: left;
	position: absolute;
	left: 0;
}

/*ainPanel*/
.menu-panel{
	width: 200px !important;
	max-width: 200px;
	background-color: #fff !important;
	box-shadow: 4px 0 4px rgba(0, 0, 0, 0.3);
	z-index: 999;
	-webkit-transition: width 0.2s; /* Safari */
    transition: width 0.2s;
}
.panels-sliding-menu > *{
	width: 20px;
	background-color: #EAEAEA;
	/*box-shadow: -4px 0 4px rgba(0,0,0,0.3);*/
}