.menu{
	padding: 2px 1px 2px 1px;
	margin: 0;
	background-color: #cf0652;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	border: none;

}
.menu div{
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-ms-flex-negative: 0;
	    -webkit-flex-shrink: 0;
	        flex-shrink: 0;
	-ms-flex-preferred-size: auto;
	    -webkit-flex-basis: auto;
	        flex-basis: auto;
	text-align: center;
	/*shorthand*/
	/*flex: 0 0 auto; */
}

.menu-option{
	background-color: #fff;
	color:#333;
	font-weight: bolder;
	padding: 5px;
}
.menu-option-item{
	font-size: 20px;
	padding: 10px 0;
	margin: 0;
	width: 100%;
}
.menu-option-item img{
	width: 23px;
	display: inline-block;
	padding-right: 5px;
}
.menu-login{
	width: 100%;
	text-align: center;
}
.menu-login-img{
	height: 100%;
	min-height: 90px;
	background-image: url(https://yt3.ggpht.com/-TdKjRigYjl8/AAAAAAAAAAI/AAAAAAAAAAA/4_ygBS08lNQ/s88-c-k-no/photo.jpg);
	width: 100% !important;
	background-position: center;
}

.onyx-menu-item:hover{
	background-color: #333;
	color: #fff;
}

.header {
	width: 100%;
	/*padding: 2px 4px;*/
	margin: 0;
	background-color: #cf0652;
	/*display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;*/
	border: none;
}

.header > div{
	padding: 0 5px;
	text-align: center;
	/*-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto; */
	        display: inline-block;
	        width: auto;
}
.header-loc{
	text-align: left !important;
	width: 100%;
	color: #fff;
	font-size: 28px;
	font-weight: bolder;
}
.menu > label{
	width: 98%;
}
label > input{
	min-width: 270px;
	width: 97%;
	font-size: 16px;
	font-weight: bold;
}
.search-input{
	margin: 0;
	background-color: #b4b4b4;
	border: 0;
	border-radius: 0;
	outline: none;
	font-size: 13px;
	color: #1a1a1a;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.search-spinner {
	position: absolute;
	top: 4px;
	right: 4px;
}

.search-button {
	cursor: pointer;
}

@media screen and (min-width: 800px) {
	.menu > label{
		width: 94%;
	}
	label > input{
		min-width: 265px;
		width: 92%;
		font-size: 16px;
		font-weight: bold;
	}
}