.list-container{
	padding: 0;
	/*background-color: #333;*/
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.list-item{
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	margin-bottom: 10px;
	padding: 5px;
}
.list-item-img{
	margin: 5px ;
	margin-top: 5px !important;
	width: 120px;
	height: 90px;
	min-width: 120px;
	min-height: 90px;
	max-height: 90px;
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
}
.list-item-duration{
	font-size: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 60px;
	color: rgb(211,211,211);
	font-weight: bolder;
	padding: 0;
}
.list-item-view-time{
	line-height: 120%;
	color: #767676;
	font-size: 12px;
}
.list-description{
	/*padding-left: 10px;*/
	margin: 0;
	font-size: 0.85em;
	line-height: 1;
	/*text-align: justify;*/
}
.list-load-more{
	text-align: center;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #333;
	color: #fff;
	font-size: 1.2em;
	font-weight: bolder;
	display: inline-block;
}
.list-description p,h3{
	padding: 0;
	margin: 0;	
}
/*.list-description p{
	position: absolute;
	bottom: 0;
}*/
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playlist-item{
  	width: 100%;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	font-size: 16px;
	/*padding: 5px 0;*/
	padding: 2px 0 0 0;
	border-bottom: 1px solid #333;
	font-weight: normal;
	color: rgb(111,111,111);
}

.playlist-item img{
	width: 50px;
	/*padding-right: 5px;*/
	display: inline-block;
	vertical-align: middle;
}

.item-selected{
	background-color: rgba(211,211,211, 0.9);
}

/*mobile*/
@media screen and (min-width: 480px) {
    .list-item {
    	-webkit-flex-direction: column;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    	max-width: 140px;
    	position: relative;
    	height: 160px;
    }
    .list-description{
    	padding-left: 0px;
    }
    .list-description h3{
  		display: -webkit-box;
  		-webkit-line-clamp: 2;
  		/*-webkit-line-clamp: 3;*/
  		-webkit-box-orient: vertical;
  		overflow: hidden;
  		text-overflow: ellipsis;
    }
    /*.list-description p{
    	position: absolute;
    	bottom: 5px;
    }*/
    
   /* .list-item-webos{
    	width: 100%;
    }*/
}
@media screen and (min-width: 800px) {
    .list-item {
    	width: 100%;
    	max-width: 100%;
    	height: 100%;
    	-webkit-flex-direction: row;
    	    -ms-flex-direction: row;
    	        flex-direction: row;
    }
    .list-description{
    	/*padding-left: 10px;*/
		white-space: pre-wrap;
    }
    /*.list-item-webos{
    	width: auto;
    }*/
    .list-item-webos{
		position: relative !important;
		width: 100% !important;
		/*display: inline-block;*/
	}
}
@media screen and (max-width: 480px) {
    .list-item {
    	width: 100%;
    	max-width: 100%;
    	height: 100%;
    	-webkit-flex-direction: row;
    	    -ms-flex-direction: row;
    	        flex-direction: row;
    }
    .list-description{
    	padding-left: 10px;
		white-space: pre-wrap;
    }
    .list-item-webos{
		position: relative !important;
		width: 100% !important;
	}
}


/*webos 3.5 compatibility*/
.list-item-webos{
	position: relative;
	width: 50%;
	display: inline-block;
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
}
.list-item-webos > img{
	width: 120px;
	display: inline-block;
	padding: 5px;
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
}
.list-item-webos > span{
	width: 180px;
	display: inline-block;
	height: 100%;
}
.list-item-webos > span > h3{
	position: absolute;
	top: 5px;
	/*height: 100%;*/
}