.menu{
	padding: 0px;
	margin: 0px;
	/*background-color: red;*/
	background-color: #cf0652;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	border: none;
}
.menu div{
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	-webkit-flex-basis: auto;
	    -ms-flex-preferred-size: auto;
	        flex-basis: auto;
	text-align: center;
	/*shorthand*/
	/*flex: 0 0 auto; */
}

.header {
	background-color: #b4b4b4;
}
.search{
	/*position: absolute;
	top: 0px;*/
}
.search > input{
	width: 280px;
}
.search-input {
	margin: 0;
	background-color: #b4b4b4;
	padding-left: 10px;
	border: 0;
	border-radius: 0;
	outline: none;
	font-size: 13px;
	color: #1a1a1a;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.search-spinner {
	position: absolute;
	top: 4px;
	right: 4px;
}

.search-button {
	cursor: pointer;
}